@import url(http://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans|Raleway);
$sidebarColor: #EEE;
$sidebarBgColor: #333;

html, body {
  font-size: 100%;
}

.row {
  margin-left: 0;
  width: 100%;
}

.content {
  padding-left: 2em;
}

.sidebar {
  padding: 0;
  position: relative;
  background-color: $sidebarBgColor;
  color: $sidebarColor;
  font-family: 'Raleway', sans-serif;
  a {
    color: $sidebarColor;
  }
  .nav {
    margin-top: 4em;
  }
  .nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  hr {
    width: 55%;
    margin-left: 0;
  }
}

@media screen and (min-width: 783px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
  }
}

@media screen and (min-width: 783px) {
  .sidebar ul li {
    padding-left: 0;
  }
}

@media screen and (min-width: 783px) {
  .content {
    margin-left: 280px;
  }
}

.create {
  padding: 1em 0;
  .title {
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 0.5em 0;
  }
  .body-input textarea {
    width: 100%;
    border: 1px #ccc solid;
  }
  .body-preview {
    font-size: 1.15em;
    line-height: 1.7em;
    font-family: 'Noto Serif', serif;
  }
  .save-btn {
    float:right;
  }
}
