@import url(http://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans|Raleway);
$sidebarColor: #EEE;
$sidebarBgColor: #333;
$titleFont: 'Open Sans', sans-serif;

html, body {
  font-size: 100%;
  font-family: 'Raleway', sans-serif;
}

.row {
  margin-left: 0;
  width: 100%;
}

.content {
  padding-left: 2em;
}

.sidebar {
  padding: 0;
  position: relative;
  background-color: $sidebarBgColor;
  color: $sidebarColor;
  font-family: 'Raleway', sans-serif;
  a {
    color: $sidebarColor;
  }
  .nav {
    margin-top: 0;
    margin-bottom: 1em;
    li {
      margin-top: 0;
    }
  }
  .nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .nav > li > a:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  hr {
    width: 55%;
    margin-left: 0;
  }
}

@media screen and (min-width: 783px) {
  .sidebar .nav {
    margin-top: 4em;
  }
}

@media screen and (min-width: 783px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 280px;
  }
}

@media screen and (min-width: 783px) {
  .sidebar ul li {
    padding-left: 0;
  }
}

@media screen and (min-width: 783px) {
  .content {
    margin-left: 280px;
  }
}

.title {
  font-size: 3em;
  font-family: $titleFont;
  font-weight: bold;
  margin: 0.5em 0;
}

.body {
  font-size: 1.15em;
  line-height: 1.7em;
  font-family: 'Noto Serif', serif;
  p {
    margin: 0;
  }
}

.create {
  padding: 1em 0;
  .title {
    @extend .title;
  }
  .body-input textarea {
    width: 100%;
    border: 1px #ccc solid;
  }
  .body-preview {
    @extend .body;
  }
  .button-panel {
    margin: 1em 0;
    font-size: 0.85em;
    label {
      margin: 0 1em;
    }
    .wrapper {
      background-color: rgba(0, 0, 0, 0.1);
      display: inline-block;
      padding: 0.5em;
      border-radius: 10px;
    }
    .return-msg {
      display: inline-block;
      margin: 0 1em;
    }
    .save-btn {
      margin-left: 1em;
    }
  }
}

.recent-list {
  font-size: 2.5em;
  font-family: 'Noto Serif', serif;
  list-style-type: none;
  a, a:hover {
    color: #222;
  }
  .date {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-size: 0.32em;
    color: #AAA;
    /*letter-spacing: 0.1em;*/
  }
  li {
    margin: 1em 0;
  }
}

.article {
  margin: 0 2em;
  .title {
    @extend .title;
  }
  .body {
    @extend .body;
    p {
      margin: 1em 0;
    }
  }
}
