<div class='row'>
  <div class='sidebar col-xs-12 col-md-3'>
    <ul class='nav nav-stacked'>
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li><a href='#'>Films</a></li>
      <li><a href='#'>Essays</a></li>
      <li><a href='#'>About</a></li>
    </ul>
  </div>

  <div class='content col-xs-12 col-md-9'>
    {{outlet}}
  </div>
</div>
