<div class='row create'>
  <div class='col-xs-12'>
    <div contenteditable='true' class='title'>
      {{title}}
    </div>
  </div>

  <div class='col-xs-12'>
    <div class='body-preview'>
      {{markdown-to-html body}}
    </div>
    <div class='body-input'>
      {{textarea value=body placeholder='Body' rows='12'}}
    </div>
  </div>
</div>

