<ul class='recent-list list-unstyled'>
  {{#each entry in controller}}
    {{#unless entry.isNew}}
      <li class='entry-title'>
        {{#link-to 'entry' entry.slug entry.id}}
          {{entry.title}}
        {{/link-to}} 
        <div class='date'>
          <em>({{short-date entry.created}})</em>
        </div>
      </li>
    {{/unless}}
  {{/each}}
</ul>
{{outlet}}
