<ul class='recent-list'>
  {{#each entry in controller}}
    <li class='entry-title'>
      {{#link-to 'entry' entry.slug entry.id}}
        {{entry.title}}
      {{/link-to}} 
      <div class='date'>
        <em>({{short-date entry.created}})</em>
      </div>
    </li>
  {{/each}}
</ul>
{{outlet}}
