<ul class='recent-list list-unstyled'>

  {{#each article in controller}}

    {{#unless article.isNew}}

      <li class='article-title'>

        {{#link-to 'article.index' article.slug}}

          {{article.title}}

        {{/link-to}} 

        <div class='date'>

          <em>({{short-date article.created}})</em>

        </div>
      </li>

    {{/unless}}

  {{/each}}

</ul>

{{outlet}}
